<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--add name="Connection1" providerName="System.Data.SqlClient"
      connectionString="Data Source=FX023179M\SQLExpress;Initial Catalog=FGA_DEV_BAK;Integrated Security=True;Connection Timeout=60"/>    
    <add name="Connection2" providerName="System.Data.SqlClient"
      connectionString="Data Source=MEPAPP042_R;Initial Catalog=E2DBFGA01;Persist Security Info=True;User ID=E2FGATP;Password=E2FGATP25"/-->

    <add name="FGA_DEV_BAK" providerName="System.Data.SqlClient"
   connectionString="Data Source=FX023179M\SQLExpress;Initial Catalog=FGA_DEV_BAK;Integrated Security=True;Connection Timeout=60"/>


    <add name="ConnectionAdmin" providerName="System.Data.SqlClient" connectionString="Data Source=MEPAPP042_R;Initial Catalog=E2DBFGA01;Persist Security Info=True;User ID=E2FGATP;Password=E2FGATP25"/>
    <add name="ConnectionLec" providerName="System.Data.SqlClient" connectionString="Data Source=MEPAPP042_R;Initial Catalog=E2DBFGA01;Persist Security Info=True;User ID=E2FGALECT;Password=E2FGALECT"/>
    <add name="OMEGA" providerName="System.Data.SqlClient" connectionString="Data Source=WINPRODFGA\Q1;Initial Catalog=OMEGA;Persist Security Info=True;User ID=OMEGA_LEC;Password=OMEGA_LEC2011"/>
    <!--add name="FGA_DEV_BAK" providerName="System.Data.SqlClient" connectionString="Data Source=FX026131M\SQLExpress;Initial Catalog=FGA_DEV_BAK;Integrated Security=True;Connection Timeout=60"/-->
    <add name="FGA_DEV_TEST" providerName="System.Data.SqlClient" connectionString="Data Source=FX026131M\SQLExpress;Initial Catalog=FGA_DEV_TEST;Integrated Security=True;Connection Timeout=60"/>

    <add name="FGA_DEV_1" providerName="System.Data.SqlClient" connectionString="Data Source=FX026132M\SQLExpress;Initial Catalog=FGA_DATAMODEL;Integrated Security=True;Connection Timeout=60"/>
    <add name="FGA_BAK" providerName="System.Data.SqlClient" connectionString="Data Source=FX023179M\SQLExpress;Initial Catalog=FGA_BAK;Integrated Security=True;Connection Timeout=60"/>
    <add name="FGA_JMOINS1" providerName="System.Data.SqlClient" connectionString="Data Source=FX023179M\SQLExpress;Initial Catalog=FGA_JMOINS1;Integrated Security=True;Connection Timeout=60"/>
  </connectionStrings>
</configuration>