<?xml version="1.0"?>
<configuration>
  <!--connectionStrings>
    <add name="Connection" providerName="System.Data.SqlClient" connectionString="Data Source=MEPAPP042_R;Initial Catalog=E2DBFGA01;Persist Security Info=True;User ID=E2FGALECT;Password=E2FGALECT"/>
    <add name="omega" providerName="System.Data.SqlClient" connectionString="Data Source=WINPRODFGA\Q1;Initial Catalog=OMEGA;Persist Security Info=True;User ID=OMEGA_LEC;Password=OMEGA_LEC2011"/>
  </connectionStrings-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
